<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper">

  <app-top></app-top>
  <!-- Left side column. contains the logo and sidebar -->
  <app-sidebar></app-sidebar>

  <!-- Content Wrapper. Contains page content -->
  <app-content></app-content>
  <!-- /.content-wrapper -->


  <!-- Control Sidebar -->
  <app-footer></app-footer>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
