<div class="content" style="background-color: #eee;margin: -15px">
  <div class="ibox-title">
    <h5>基础信息管理</h5>
    <div class="ibox-tools pull-right">
      <div class=" btn btn-sm btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> 添加</div>
    </div>
  </div>
  <div class="ibox-content" style="background-color: #f0f0f0">
    <div class="row">
      <form class="form-horizontal">
        <div class="form-group" style="margin-right: 0">
          <div class="col-md-3 col-md-offset-9">
            <input class="form-control" type="text"
                   placeholder="搜索应用名称／客户名称">
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col-md-4" *ngFor="let list of data">
        <div class="application-list-card">
          <div class="icon-status">
            <span>新录入</span>
          </div>
          <div class="row">
            <div class="col-md-4 image-box">
              <img [src]="list.pictureNameUrl" alt="">
            </div>
            <div class="col-md-8 card-description">
              <h5>{{ list.appName }}</h5>
              <p class="card-description-p1"><i class="fa fa-users" aria-hidden="true"></i> <span>{{list.companyName}}</span></p>
              <p class="card-description-p2"><i class="fa fa-calendar" aria-hidden="true"></i> {{list.createDate | date: 'yyyy-MM-dd'}}</p>
            </div>
          </div>
          <div class="row operation">
            <div class="col-md-4 version"><span>{{list.version}}</span></div>
            <div class="col-md-4" style="border-right: 1px solid #aaa"><a [routerLink]="['edit', list.appId]">修改</a></div>
            <div class="col-md-4"><a>{{list.offLine == 0?'下线': '上线'}}</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!--<p-paginator [rows]="10" [totalRecords]="20" [rowsPerPageOptions] = "[10,20,30]"></p-paginator>-->
      <!--<p-paginator rows="10" totalRecords="120" [rowsPerPageOptions]="[10,20,30]"></p-paginator>-->
    </div>
  </div>
</div>
